@import '../../styles/utils';
@import '../../styles/scrollbars';



.MyGarage {
    .MyGarage-Header {
        @include mainContentHeader();
        @include flexCenter(row);
        justify-content: flex-start;
        overflow-x: auto;
    
    
    }
    
    
    .MyGarage-Header-Empty {
        @include mainContentHeader();
        @include flexCenter(row);
        color: $mainText;
    
        i {
            margin-right: 2rem;
        }
    
        p {
            font-size: 1.5rem;
        }
    }

}
  



